CompileFlags:
    Add:
        - -xc++
        - -std=c++11
        - -DBUILD_TEST
        - -DUBRRH
        - -DARDUINO
        - -Wno-unknown-attributes
        - -I/home/sakhnik/.arduino15/packages/arduino/hardware/avr/1.8.6/cores/arduino
        - -I/home/sakhnik/.arduino15/packages/arduino/hardware/avr/1.8.6/variants/micro
        - -I/home/sakhnik/.arduino15/packages/arduino/hardware/avr/1.8.6/libraries/SPI/src
        - -I/home/sakhnik/.arduino15/packages/arduino/hardware/avr/1.8.6/libraries/EEPROM/src
        - -I/home/sakhnik/.arduino15/packages/arduino/hardware/avr/1.8.6/libraries/Wire/src
        - -I/home/sakhnik/.arduino15/packages/arduino/tools/avr-gcc/7.3.0-atmel3.6.1-arduino7/avr/include
        - -I/home/sakhnik/Arduino/libraries/RFID_MFRC522v2/src
        - -I/home/sakhnik/Arduino/libraries/arduino-timer/src
        - -I/home/sakhnik/Arduino/libraries/Adafruit_BusIO/
        - -I/home/sakhnik/Arduino/libraries/RTClib/src
        - -I/home/sakhnik/Arduino/libraries/Low-Power
